<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>동아리 신청 해보기</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 90vh;
            margin: 0;
            font-family: Arial, sans-serif;
        }
        input {
            height: 35px;
            width: 250px;
            margin: 10px 0;
            font-size: 12px;
        }
        .sun{
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="sun">
        <h1>동아리 신청 사이트</h1>
        <hr/>
        <form method="POST" autocomplete="off">
            {%  csrf_token %}
          <input type="text" name="sign_up_id" placeholder=" 전화번호, 사용자 이름 또는 이메일 주소" autocomplete="off" value="" required><br>
          <input type="password" name="sign_up_password" placeholder=" 비밀번호" autocomplete="new-password" value="" required><br>
          <input type="submit" value="신청하기">
        </form>
        <form method="GET" action="{% url 'signup' %}">
             {%  csrf_token %} <!--CSRF 공격방지 -->
        <input type="submit" value="가입하기"> <!-- 회원가입 페이지 이동 -->
        </form>
    </div>
</body>
</html>
